.zero { height: 300px; }
.one { background-color: green; }
.two_one { background-color: darkblue; }
.two_two { background-color: blue; }
.two_three { background-color: violet; }
.three { background-color: red; }
