<button mat-raised-button color="primary">
  <mat-icon>home</mat-icon>
  Hello
</button>

<button mat-fab color="accent">
  <mat-icon>add</mat-icon>
</button>

<div fxLayout="row" fxLayoutWrap class="zero">
  <div fxFlex="33" fxFlex.sm="100" class="one"></div>
  <div fxFlex="33" fxFlex.xs="" fxLayout="column" fxLayout.xs="row" class="two">
    <div fxFlex="20" class="two_one"></div>
    <div fxFlex="40px" class="two_two"></div>
    <div fxFlex class="two_three"></div>
  </div>
  <div fxFlex fxHide.xs class="three"></div>
</div>

<button mat-raised-button color="warn" (click)="openDialog()">
  Show dialog
</button>

<p>{{response}}</p>
